// Header One styles
.hero-one {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding-top: 100px;
    z-index: 101;
    .left-side {
        min-width: 560px;
        padding: 60px 0 32px 2%;
        @media screen and (max-width: 657px) {
            min-width: unset;
            width: 100%;
            padding-top: 0;
        }
        h1 {
            font-size: 48px;
            font-weight: 900;
            color: $primary-color;
            margin-bottom: 30px;
            > div:nth-child(2) {
                color: $secondary-color;
            }
        }
        p {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 32px;
        }
        .buttons {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            a {
                width: 30%;
                text-align: center;
                display: inline-block;
                border-radius: 5px;
                padding: 16px 0;
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                background-color: $secondary-color;
                margin-right: 20px;
                &:hover,
                &:active,
                &:focus {
                    background-color: $secondary-color-hover;
                }
                &:nth-child(2) {
                    margin-right: unset;
                    color: $primary-color;
                    background-color: $gray-color-one;
                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $gray-color-one-hover;
                    }
                }
            }
        }
    }
    .hero-image {
        display: block;
        z-index: 1;
        width: 100%;
        height: 620px;
        margin-top: -100px;
        margin-left: 5%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @media screen and (max-width: 657px) {
            display: none;
        }
    }
}
