.popular-hotels-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.popular-hotels-button {
    background-color: $secondary-color;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    border: unset;
    margin-right: 5px;

    &:hover,
    &:active,
    &:focus {
        background-color: $secondary-color-hover;
    }

    &:last-child {
        margin-right: 0;
    }
}
