// Nav styles
nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: fixed;
    z-index: 102;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0 32px 0 2%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

    .logo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .logo-image {
            margin-right: 10px;
            margin-bottom: 10px;
            color: $secondary-color;
            font-size: 40px;
        }

        .logo-text {
            font-weight: 900;
            font-size: 24px;
            font-family: $primary-font;
            color: $primary-color;

            &:hover,
            &:active,
            &:focus {
                color: $secondary-color;
            }
        }
    }

    > ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-left: auto;

        > li {
            margin: 10px;

            > a {
                padding: 5px 0 2px 0;
                color: $primary-color;
                font-weight: 600;
                font-size: 14px;
                position: relative;
                border-bottom: 2px solid transparent;

                &:hover,
                &:active,
                &:focus {
                    border-bottom-color: $secondary-color;
                }

                &.active {
                    color: $secondary-color;
                    border-bottom: 2px solid $secondary-color;
                }
            }

            > .login-register {
                border: unset;
                padding: 5px 15px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 600;
                color: $primary-color;
                background-color: $gray-color-one;

                &:hover,
                &:active,
                &:focus {
                    background-color: $gray-color-two;
                }
            }
        }
    }

    .menu-bars-container {
        display: none;
        position: absolute;
        right: 15px;
        top: 10px;
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            background-color: $gray-color-one;
            border: 1px solid $primary-color;

            > svg {
                color: $primary-color;
            }
        }

        > svg {
            color: $secondary-color;
        }
    }

    @media screen and (max-width: 768px) {
        position: relative;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: 0 15px 5px;
        margin-right: 0;
        border-bottom: 1px solid $gray-color-two;

        .logo {
            width: 50%;
            margin-right: auto;

            .logo-image {
                margin-bottom: 0;
            }
        }

        > ul {
            flex-flow: column nowrap;
            width: 100%;
            margin-left: 0;
            display: none;

            &.active {
                display: block;
            }

            > li {
                margin: 5px 0;

                > a {
                    display: block;
                }

                &:last-child {
                    padding-right: unset;
                }
            }
        }

        .menu-bars-container {
            display: block;
        }
    }
}
