// Nav styles
nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-right: 32px;
    margin-left: 0;
    padding: 15px 32px 0 2%;
    background-color: #fff;
    @media screen and (max-width: 657px) {
        position: relative;
        flex-flow: column nowrap;
    }
    .logo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .logo-image {
            margin-right: 10px;
            margin-bottom: 10px;
            color: $secondary-color;
            font-size: 40px;
        }
        .logo-text {
            font-weight: 900;
            font-size: 24px;
            font-family: $primary-font;
            color: $primary-color;
            &:hover,
            &:active,
            &:focus {
                color: $secondary-color;
            }
        }
    }
    > ul {
        display: flex;
        flex-flow: row nowrap;
        margin-left: 2%;
        > li {
            margin: 10px;
            &:last-child {
                padding-right: 15px;
            }
            > a {
                padding: 5px 0 2px 0;
                color: $primary-color;
                font-weight: 600;
                font-size: 14px;
                position: relative;
                border-bottom: 2px solid transparent;
                &:hover,
                &:active,
                &:focus {
                    border-bottom-color: $secondary-color;
                }
                &.active {
                    color: $secondary-color;
                    border-bottom: 2px solid $secondary-color;
                }
            }
        }
    }
}
