.popular-hotels {
    max-width: 1200px;

    > .row {
        &:nth-child(1) {
            margin-bottom: 40px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 26px;
                font-weight: 900;
                color: #243e63;
            }
        }

        &:nth-child(2) {
            > .col {
                margin-bottom: 40px;
            }
        }
    }
}
