.popular-hotels {
    max-width: 1200px;
    > .row {
        &:nth-child(1) {
            margin-bottom: 40px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            .title {
                font-size: 26px;
                font-weight: 900;
                color: #243e63;
            }
            .hotel-types-buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
            }
            .type-button {
                background-color: $secondary-color;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                padding: 10px 10px;
                border-radius: 5px;
                border: unset;
                margin-right: 5px;

                &:hover,
                &:active,
                &:focus {
                    background-color: $secondary-color-hover;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &:nth-child(2) {
            > .col {
                margin-bottom: 40px;
            }
        }
    }
}
