$primary-color: #243e63;
$primary-color-two: rgb(80, 101, 130);
$secondary-color: #6415ff;
$secondary-color-hover: #5011cc;
$primary-font: "Inter", sans-serif;
$gray-color-one: #e2e8f0;
$gray-color-two: #cbd5e0;
$gray-color-three: #f1f1f1;
