@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "@/assets/styles/components/Hero";
@import "@/assets/styles/components/NavBar";

// Global styles
body {
    font-family: "Inter", sans-serif;
}

p {
    line-height: 21px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: unset;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:focus,
    &:active {
        color: $secondary-color;
    }
}

img {
    width: 100%;
}

main {
    padding-top: 100px;
    padding-bottom: 50px;
    @media screen and (max-width: 657px) {
        padding-top: 50px;
    }
}
